%h1 Listing bills

%table
  %tr
    %th Company
    %th Total amount
    %th Due date
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.company
      %td= bill.total_amount
      %td= bill.due_date
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Bill', new_bill_path
%br
%h3{:class => "jump"}
  = link_to 'Show Members', '/member'
